In [1]:
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [2]:
test_df = pd.read_csv('test.csv')
train_df = pd.read_csv('train.csv')

In [3]:
print(train_df.describe())

        dateCrawled          name        seller  offerType         price  \
count  70000.000000  70000.000000  70000.000000    70000.0  70000.000000
mean   37664.727486  25533.298743      1.999986        1.0   4388.069929
std    21759.727731  14884.198247      0.003780        0.0   3469.881904
min        1.000000      2.000000      1.000000        1.0    400.000000
25%    18771.750000  12543.000000      2.000000        1.0   1500.000000
50%    37701.500000  25660.500000      2.000000        1.0   3300.000000
75%    56551.250000  38846.250000      2.000000        1.0   6500.000000
max    75331.000000  51408.000000      2.000000        1.0  13900.000000

             abtest   vehicleType  yearOfRegistration       gearbox  \
count  70000.000000  70000.000000        70000.000000  70000.000000
mean       1.519700      5.409314         2002.662029      1.809514
std        0.499615      1.674844            5.809177      0.392687
min        1.000000      1.000000         1923.000000      1.000000
25%        1.000000      5.000000         1999.000000      2.000000
50%        2.000000      6.000000         2003.000000      2.000000
75%        2.000000      7.000000         2007.000000      2.000000
max        2.000000      8.000000         2018.000000      2.000000

            powerPS         model      kilometer  monthOfRegistration  \
count  70000.000000  70000.000000   70000.000000         70000.000000
mean     116.782757     98.068743  129712.000000             6.211529
std      146.826939     69.021487   34772.218596             3.468163
min        0.000000      1.000000    5000.000000             0.000000
25%       75.000000     41.000000  125000.000000             3.000000
50%      109.000000     97.000000  150000.000000             6.000000
75%      143.000000    154.000000  150000.000000             9.000000
max    20000.000000    243.000000  150000.000000            12.000000

           fuelType         brand  notRepairedDamage   dateCreated  \
count  70000.000000  70000.000000       70000.000000  70000.000000
mean       2.708943     21.485900           1.897586     59.832157
std        1.083151     12.934279           0.303195      9.202195
min        1.000000      1.000000           1.000000      1.000000
25%        2.000000     10.000000           2.000000     52.000000
50%        2.000000     24.000000           2.000000     60.000000
75%        4.000000     33.000000           2.000000     68.000000
max        7.000000     39.000000           2.000000     77.000000

       nrOfPictures    postalCode      lastSeen
count       70000.0  70000.000000  70000.000000
mean            0.0   3428.774157  33792.870086
std             0.0   1896.590833  17100.999622
min             0.0      1.000000      2.000000
25%             0.0   1990.000000  18993.750000
50%             0.0   3271.000000  37882.500000
75%             0.0   4719.000000  48667.000000
max             0.0   7515.000000  57321.000000

In [4]:
print(test_df.describe())

        dateCrawled          name   seller  offerType       abtest  \
count  10000.000000  10000.000000  10000.0    10000.0  10000.00000
mean   37766.438200  25532.947500      2.0        1.0      1.51910
std    21697.675399  14969.911908      0.0        0.0      0.49966
min        6.000000      1.000000      2.0        1.0      1.00000
25%    19186.250000  12572.500000      2.0        1.0      1.00000
50%    37721.000000  25706.500000      2.0        1.0      2.00000
75%    56275.750000  39171.000000      2.0        1.0      2.00000
max    75324.000000  51404.000000      2.0        1.0      2.00000

        vehicleType  yearOfRegistration       gearbox       powerPS  \
count  10000.000000        10000.000000  10000.000000  10000.000000
mean       5.389200         2002.684800      1.812900    115.489000
std        1.667154            5.773472      0.390011    101.716352
min        1.000000         1960.000000      1.000000      0.000000
25%        5.000000         1999.000000      2.000000     75.000000
50%        6.000000         2003.000000      2.000000    109.000000
75%        7.000000         2007.000000      2.000000    143.000000
max        8.000000         2016.000000      2.000000   8259.000000

              model      kilometer  monthOfRegistration      fuelType  \
count  10000.000000   10000.000000         10000.000000  10000.000000
mean      98.160600  129758.500000             6.231500      2.693900
std       68.676683   34999.738226             3.461633      1.071409
min        1.000000    5000.000000             0.000000      1.000000
25%       41.000000  125000.000000             3.000000      2.000000
50%       97.000000  150000.000000             6.000000      2.000000
75%      154.000000  150000.000000             9.000000      4.000000
max      243.000000  150000.000000            12.000000      7.000000

              brand  notRepairedDamage   dateCreated  nrOfPictures  \
count  10000.000000       10000.000000  10000.000000       10000.0
mean      21.424700           1.894000     59.873600           0.0
std       13.007515           0.307853      9.159226           0.0
min        1.000000           1.000000      9.000000           0.0
25%       10.000000           2.000000     52.000000           0.0
50%       24.000000           2.000000     60.000000           0.0
75%       34.000000           2.000000     68.000000           0.0
max       39.000000           2.000000     77.000000           0.0

         postalCode      lastSeen           Id
count  10000.000000  10000.000000  10000.00000
mean    3430.679000  34292.851300   5000.50000
std     1894.718949  17087.780775   2886.89568
min        1.000000      1.000000      1.00000
25%     2001.750000  19949.500000   2500.75000
50%     3254.000000  39223.000000   5000.50000
75%     4732.000000  49030.000000   7500.25000
max     7513.000000  57322.000000  10000.00000

In [5]:
print(test_df.columns)
print(train_df.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'abtest', 'vehicleType',
       'yearOfRegistration', 'gearbox', 'powerPS', 'model', 'kilometer',
       'monthOfRegistration', 'fuelType', 'brand', 'notRepairedDamage',
       'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen', 'Id'],
      dtype='object')
Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
x = train_df.drop(columns='price')
y = train_df.price 

#defining a function that trains and fits a Decision Tree with different max nodes and returns the mae for each 
def mae(max_nodes, Xtrain, Xtest, Ytrain, Ytest):
    model = DecisionTreeRegressor(max_leaf_nodes = max_nodes, random_state = 1)
    model.fit(Xtrain,Ytrain)
    prediction_vals = model.predict(Xtest)
    mean_abs_error = mean_absolute_error(Ytest, prediction_vals)
    return mean_abs_error 


#splitting the training data 
Xtrain, Xtest, Ytrain, Ytest = train_test_split(x,y,random_state=1)

In [7]:
for nodes in [25,50,100,500,1000,2000,5000]:
    result = mae(nodes, Xtrain, Xtest, Ytrain, Ytest)
    print("Max Leaf Nodes: %d  \t\t Mean Absolute Error: %d" 
          %(nodes,result))

Max Leaf Nodes: 25  		 Mean Absolute Error: 1499
Max Leaf Nodes: 50  		 Mean Absolute Error: 1423
Max Leaf Nodes: 100  		 Mean Absolute Error: 1357
Max Leaf Nodes: 500  		 Mean Absolute Error: 1263
Max Leaf Nodes: 1000  		 Mean Absolute Error: 1253
Max Leaf Nodes: 2000  		 Mean Absolute Error: 1265
Max Leaf Nodes: 5000  		 Mean Absolute Error: 1328

In [8]:
#Runnning the Random Forest Model
Xtrain, Xtest, Ytrain, Ytest = train_test_split(x,y,random_state=1)

randomForest = RandomForestRegressor(random_state=1)
randomForest.fit(Xtrain,Ytrain)
prediction = randomForest.predict(Xtest)
randForest_mae = mean_absolute_error(Ytest,prediction)

print("Mean Absolute Error for Random Forest: {}".format(randForest_mae))

Mean Absolute Error for Random Forest: 1058.949572

MAE is lowest for Random Forest Model Compared to Decision Tree, so for final output we will use the RandomForest

In [9]:
##Running Random Forest with entire train data set for final output
#train_df, test_df

y_final = train_df.price
x_final = train_df.drop(columns = 'price')
ids_stored = test_df.Id
x_test = test_df.drop(columns = "Id")

RandomForestModel = RandomForestRegressor(random_state=1)
RandomForestModel.fit(x_final, y_final)

RandomForestRegressor(random_state=1)

In [10]:
predicted_output = RandomForestModel.predict(x_test)
predicted_output

array([2039.02, 2501.19, 7796.17, ..., 2540.86, 2687.18, 3396.51])

In [11]:
output = pd.DataFrame(predicted_output, columns=['Predicted'])
output

      Predicted
0       2039.02
1       2501.19
2       7796.17
3       3592.66
4        964.30
...         ...
9995    1649.15
9996    9877.91
9997    2540.86
9998    2687.18
9999    3396.51

[10000 rows x 1 columns]

In [12]:
ids_int = ids_stored.astype('int64')
print(ids_stored)
print(ids_int)

output['Id'] = ids_int
#output = output.set_index=('Id')
print(output)

0           1
1           2
2           3
3           4
4           5
        ...
9995     9996
9996     9997
9997     9998
9998     9999
9999    10000
Name: Id, Length: 10000, dtype: int64
0           1
1           2
2           3
3           4
4           5
        ...
9995     9996
9996     9997
9997     9998
9998     9999
9999    10000
Name: Id, Length: 10000, dtype: int64
      Predicted     Id
0       2039.02      1
1       2501.19      2
2       7796.17      3
3       3592.66      4
4        964.30      5
...         ...    ...
9995    1649.15   9996
9996    9877.91   9997
9997    2540.86   9998
9998    2687.18   9999
9999    3396.51  10000

[10000 rows x 2 columns]

In [13]:
output = output.set_index('Id')
output

       Predicted
Id
1        2039.02
2        2501.19
3        7796.17
4        3592.66
5         964.30
...          ...
9996     1649.15
9997     9877.91
9998     2540.86
9999     2687.18
10000    3396.51

[10000 rows x 1 columns]

In [14]:
output.to_csv('intro_predictions.csv')

In [15]:
#improving out model by showing which features are important
feature_weight = randomForest.feature_importances_ 
cols = x_final.columns
weight_df = pd.DataFrame({'features':cols,'weight':feature_weight})
weight_df

               features        weight
0           dateCrawled  2.007973e-02
1                  name  4.939517e-02
2                seller  1.178925e-07
3             offerType  0.000000e+00
4                abtest  3.181222e-03
5           vehicleType  3.084394e-02
6    yearOfRegistration  4.951389e-01
7               gearbox  4.180452e-03
8               powerPS  1.914273e-01
9                 model  3.173313e-02
10            kilometer  3.201339e-02
11  monthOfRegistration  1.611030e-02
12             fuelType  6.931012e-03
13                brand  3.085211e-02
14    notRepairedDamage  1.583908e-02
15          dateCreated  1.309711e-02
16         nrOfPictures  0.000000e+00
17           postalCode  2.584170e-02
18             lastSeen  3.333535e-02

In [16]:
weight_df = weight_df.sort_values(by = 'weight', ascending = False)
weight_df

               features        weight
6    yearOfRegistration  4.951389e-01
8               powerPS  1.914273e-01
1                  name  4.939517e-02
18             lastSeen  3.333535e-02
10            kilometer  3.201339e-02
9                 model  3.173313e-02
13                brand  3.085211e-02
5           vehicleType  3.084394e-02
17           postalCode  2.584170e-02
0           dateCrawled  2.007973e-02
11  monthOfRegistration  1.611030e-02
14    notRepairedDamage  1.583908e-02
15          dateCreated  1.309711e-02
12             fuelType  6.931012e-03
7               gearbox  4.180452e-03
4                abtest  3.181222e-03
2                seller  1.178925e-07
3             offerType  0.000000e+00
16         nrOfPictures  0.000000e+00

In [17]:
#drop the last 2 features that do not have that much impact on predicting 
weight_df = weight_df.drop(weight_df.index[-2:])
weight_df

               features        weight
6    yearOfRegistration  4.951389e-01
8               powerPS  1.914273e-01
1                  name  4.939517e-02
18             lastSeen  3.333535e-02
10            kilometer  3.201339e-02
9                 model  3.173313e-02
13                brand  3.085211e-02
5           vehicleType  3.084394e-02
17           postalCode  2.584170e-02
0           dateCrawled  2.007973e-02
11  monthOfRegistration  1.611030e-02
14    notRepairedDamage  1.583908e-02
15          dateCreated  1.309711e-02
12             fuelType  6.931012e-03
7               gearbox  4.180452e-03
4                abtest  3.181222e-03
2                seller  1.178925e-07

In [18]:
imp_features = weight_df['features'].tolist()
imp_features

['yearOfRegistration',
 'powerPS',
 'name',
 'lastSeen',
 'kilometer',
 'model',
 'brand',
 'vehicleType',
 'postalCode',
 'dateCrawled',
 'monthOfRegistration',
 'notRepairedDamage',
 'dateCreated',
 'fuelType',
 'gearbox',
 'abtest',
 'seller']

In [19]:
train_df.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [ ]:
#Running Random Forest Model with new features 

x_final_new = x_final[imp_features]
RandomForestModel = RandomForestRegressor(criterion = 'absolute_error', random_state=1)
RandomForestModel.fit(x_final_new, y_final)

In [ ]:
x_test_new = x_test[imp_features]
predicted_output = RandomForestModel.predict(x_test_new)

output = pd.DataFrame(predicted_output, columns=['Predicted'])
output['Id'] = ids_int
output = output.set_index('Id')
output

In [ ]:
output.to_csv('intro_predictions_new.csv')